<h4>Bienvenido a </h4>
<p>
    Confirme su dirección de correo electrónico haciendo clic en el enlace siguiente: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmación de correo electrónico</a><br>
    Atención, el link expira en {{ expiresAt|date('g') }} hora(s).
</p>
<br>
<p>Un saludo!</p>
